@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
} 

body {
     background: url("../images/cl15.jpg") no-repeat center center fixed;
    font-family: "Vollkorn", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;
    margin: auto;  
}
hr { 
    background-color: #fafafa;
    }

.text-center {
    text-align: center!important;
}

h1 {display: block;
    font-size: 3.1rem;
    text-shadow: -5px 5px 0px #09186b;
}

h3 {
    font-size: 2rem;
    padding: 5px;
    letter-spacing: 1.5px;
}

h2 {
    font-weight: 700;
    color: #e9eaf5;
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-shadow: -2px 2px 0px #09186b
}

.overlay {
    background-color: #1039ee5b;
    
    
}

#progress {
    font-family: "Graduate", sans-serif;
    font-size: 1.25rem;
    color: #fafafa;

}

#question-container {
    width: auto;
    height: auto;
    border: 1px solid #fafafa;
}

#question {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(11, 26, 240, 0.705);
    border: 1px solid #09186b;
    
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2 auto) ;
    text-align: center;
}

.btn {
    margin: 5px;
    width: 130px;
    height: 60px;
    font-size: 1.1rem;
    background-color:rgba(10, 25, 240, 0.705);
    color: #fff;
    
}

.btn:hover {
    color: #1bd8e6;
}

.btn.correct {
  color: rgb(9, 212, 9);
}

.btn.wrong {
  color: rgb(245, 76, 9);
}

#score {
    font-size: 1.5rem;
    color: rgb(251, 255, 0);
}

#social a {
     color:rgba(123, 29, 245, 0.849);
     padding: 15px;
     z-index: 1;
 }

 #social p {
   color: rgb(96, 39, 230);
   z-index: 1;
}

#social a:hover {
    color: rgb(0, 26, 255);
}

#start-btn {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    background-color: rgba(2, 42, 219, 0.76);
color: #fafafa;
font-size: 1.5rem;
}

#start-btn:hover {
    background-color: rgba(12, 163, 233, 0.733);
}

#score-div {
    overflow: hidden;
    width: auto;
    height: auto;
    font-family: "Graduate", sans-serif;
    background: radial-gradient( circle, #185dc4f3, rgb(143, 77, 230))  no-repeat center center fixed;
    background-color: #1d49d8f3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(238, 238, 222);
    margin: auto;
    font-size: 1.3rem;
}

#score-div p {
    font-size: 1.5rem;
    padding-top: 5px;
    color: #f1eae8;
    text-shadow: -2px 2px 0px #0509fa
}
#score-div i {
    color: rgb(255, 0, 0);
}

.hide {
    display: none;
}

#time {
    font-size: 1.5rem;
    font-family: "Graduate", sans-serif;
    color: #fafafa;
    word-wrap: normal;
}

#next-btn {
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    background-color: rgba(2, 42, 219, 0.76);
color: #fafafa;
font-size: 1.3rem;
}

.text-wrap {
    background-color: rgba(10, 25, 240, 0.705);
    border: 1px solid rgb(17, 146, 197);
}

